# المكتبات

In [16]:
import pandas as pd
import numpy as np
import nbformat as nbf
from datetime import datetime
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# DATA PATH

In [17]:
input_path = r"c:\Users\SPEED LAP\OneDrive\Desktop\hotel_bookings FP MSA.csv"

# OUTPUT PATH

In [18]:
desktop_folder = Path(input_path).parent  
clean_csv_path = desktop_folder / "hotel_bookings_Cleaned.csv"

# READING DATA

In [19]:
print("Reading:", input_path)
df = pd.read_csv(input_path)
print("Rows, cols:", df.shape)
df.head()

Reading: c:\Users\SPEED LAP\OneDrive\Desktop\hotel_bookings FP MSA.csv
Rows, cols: (119390, 32)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015

# CLeaning

In [20]:
df['children'] = df['children'].fillna(0).round().astype(int)
df['babies'] = df['babies'].fillna(0).astype(int)

In [21]:
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

In [22]:
if 'reservation_status_date' in df.columns:
    df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'], dayfirst=False, errors='coerce')

In [23]:
df_before = len(df)
df = df.drop_duplicates()
print("Dropped duplicates:", df_before - len(df))

Dropped duplicates: 31994

In [24]:
df['adr'] = pd.to_numeric(df['adr'], errors='coerce')
median_adr = df.loc[df['adr'] > 0, 'adr'].median()
df.loc[df['adr'] <= 0, 'adr'] = median_adr
df['adr'] = df['adr'].fillna(median_adr)

print(f"ADR column cleaned. Median used: {median_adr}")

ADR column cleaned. Median used: 99.0

In [25]:
df.loc[(df['adults'] == 0) & (df['children'] + df['babies'] > 0), 'adults'] = 1

In [26]:
df['total_people'] = df.get('adults',0) + df.get('children',0) + df.get('babies',0)

In [27]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip()

In [28]:
df['agent'] = df['agent'].fillna(0)
df['company'] = df['company'].fillna(0)

# SAVE FILE

In [29]:
df.to_csv(clean_csv_path, index=False)
print("Saved cleaned CSV to:", clean_csv_path)

Saved cleaned CSV to: c:\Users\SPEED LAP\OneDrive\Desktop\hotel_bookings_Cleaned.csv